.root {
    -fx-background-color: cornflowerblue;
}

.text {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Monomaniac One";
}

.label {
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 35;
    -fx-alignment: center;
}

.subtitle, .players-text, .players-amount {
    -fx-font-size: 25;
    -fx-alignment: center;
}

.subtitle {
    -fx-opacity: .7;
    -fx-text-alignment: center;
}

.players-control {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.players-control .button {
    -fx-background-color: white;
    -fx-text-fill: cornflowerblue;
    -fx-font-size: 25;
}