.root {
    -fx-background-color: cornflowerblue;
}

.text {
    -fx-font-smoothing-type: gray;
    -fx-fill: white;
    -fx-font-family: "Monomaniac One";
}

.mainbox {
}

.title {
    -fx-font-size: 35;
    -fx-alignment: center;
}

.subtitle {
    -fx-font-size: 25;
    -fx-alignment: center;
}